<head>
  <link rel="stylesheet" type="text/css" href="vendor/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/calendar.css">
  <link rel="stylesheet" type="text/css" href="assets/css/utility.css">
</head>
<body>
  <div class='row'>
    <a style="text-decoration: none; color: white; margin-bottom: 48px; margin-top: -32px; margin-left: 16px; display: block;" href="https://valentijnnieman.github.io">&#8592 Back to portfolio</a>
    <div id='calendar'>
      <div class='small-12 medium-8 column rp-0'>
        <div class='time-table'>
          <button v-on:click="appointment_panel_show = !appointment_panel_show" class='button button--round button--green'>+</button>
          <h5 class='time-table__title'>Today</h5>
          <ul>
            <template v-for='(time, index) in timetable'>
              <time-table__item  :time="time.time" :index="index" :appointments="time.appointments" :alignment="time.alignment"></time-table__item>
            </template>
          </ul>
        </div>
      </div>
      <div class='small-12 medium-4 column lp-0'>
        <transition name='appointment-panel'>
          <div class='appointment-panel' v-if="appointment_panel_show">
            <appointment-form :timetable='timetable'></appointment-form>
          <button v-on:click="appointment_panel_show = !appointment_panel_show" class='button'>Cancel</button>
          </div>
        </transition>
      </div>
    </div>
  </div>

    <script src='calendar.js'></script>
</body>
