.time-table {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.13), 0 18px 30px 0 rgba(0,0,0,0.13);
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(181,181,181,0.50);
  max-width: 540px;
}
.time-table__title {
  border-bottom: 1px solid rgba(181,181,181,0.5);
  padding: 16px 40px 16px 40px;
  color: black;
}

.time-table ul {
  padding: 13px 40px 42px 40px;
  max-height: 670px;
  overflow-y: scroll;
}

.time-table__item {
  color: #B5B5B5;
  list-style-type: none;
}

.hour {
  width: 100%;
  height: 25px;
  display: block;
}
.hour__title {
  float: left;
  font-size: 12px;
  min-width: 30px;
  min-height: 19px;
}
.hour__line {
  float: left;
  width: 86%;
  margin-top: 10px;
  height: 1px;
  margin-left: 10px;
  border-bottom: 1px solid rgba(181,181,181,0.5);
}
.hour__line--hidden {
  border-bottom: none;
}

.appointment {
  background-color: #FF6255;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  color: white;
  padding: 5px;
  overflow: hidden;
  height: 25px;
}
.appointment--hidden {
  background-color: magenta;
  opacity: 0.2;
}
.appointment-top{
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
.appointment-top__title {
  font-size: 14px;
  float: left;
  width: 70%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-height: 19px;
}
.appointment-top__time{
  font-size: 14px;
  float: right;
  color: rgba(255,255,255,0.8);
}
.appointment__description {
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}
.appointment-panel {
  background: #F8F8F8;
  border: 1px solid #DADADA;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 630px;
  max-width: 240px;
  position: relative;
  top: 114px;
  padding: 20px;
}
.appointment-panel__label {
  font-size: 14px;
  color: #333333;
}
.appointment-panel__input {
  border: 1px solid #DADADA;
  border-radius: 1px;
  width: 200px;
  height: 40px;
}
.appointment-panel__input--calendar {
  padding-left: 36px;
}
.calendar-icon{
  background-image: url('../icons/calendar.svg');
  height: 18px;
  width: 18px;
  display: block;
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
}
.appointment-panel__input--description {
  height: 100px;
}
.button{
  border-radius: 3px;
  font-size: 12px;
  color: #FFFFFF;
  width: 200px;
  height: 40px;
  cursor: pointer;
}
.button--green{
  background-color: #20C576;
}
.button--red{
  background-color: red;
}
.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
}
.appointment-modal {
  position: fixed;
  max-width: 50%;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(181,181,181,0.50);
  color: black;
  z-index: 99;
  top: 20vh;
  left: 20vw;
  padding: 20px;
}
