@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #3a3939;
  padding-top: 46px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

.rp-0{
  padding-right: 0px;
}
.lp-0 {
  padding-left: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.cblack {
  color: black;
}

.cwhite {
  color: white;
}
